/* This for whole page setting */
/** {*/
/*margin: 0; Do not turn this on*/
/*}*/
html, body {
    height: 100%;
    font: "Trebuchet MS", sans-serif;
    font-size: 0.88em;
    margin: 0px 2px;
    background: #e6e6e6;

    /*font: 62.5% 'Helvetica Neue',Helvetica,Verdana;*/
    /*margin: 20px 10px;*/
    /*background: #2a2b2b;*/
    /*color: #d1d9e1;*/
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 80px; /* .push must be the same height as .footer */
    background-color: whiteSmoke;
    border-top: 1px solid #DDD;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}