<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
    <display-name>receipt-mobile</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/security/secure.xml
            /WEB-INF/mongo/mongo-config.xml
            /WEB-INF/receipt-mobile-servlet.xml
        </param-value>
    </context-param>

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/classes/logback.xml</param-value>
    </context-param>

    <context-param>
        <param-name>config.properties</param-name>
        <param-value>/WEB-INF/classes/conf/config.properties</param-value>
    </context-param>

    <!-- Java Melody Start give out of memory exception when Java melody is turned on in another app -->
    <filter>
        <filter-name>monitoring</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        <async-supported>true</async-supported>
        <!--<init-param>-->
        <!-- removed for because of spring security; only requires in one place -->
        <!--<param-name>allowed-addr-pattern</param-name>-->
        <!--&lt;!&ndash; Allows 192.168.1.* with mask 255.255.255.255, other wise add |123\.123\.123\.123 &ndash;&gt;-->
        <!--<param-value>192\.168\.1\..*</param-value>-->
        <!--</init-param>-->
    </filter>
    <filter-mapping>
        <filter-name>monitoring</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>
    <!-- Java Melody Ends -->

    <filter>
        <filter-name>MultipartFilter</filter-name>
        <filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MultipartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>ERROR</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter>
        <filter-name>logContextFilter</filter-name>
        <filter-class>com.receiptofi.mobile.filter.LogContextFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>logContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--http://static.springsource.org/spring/docs/3.1.x/spring-framework-reference/html/mvc.html-->
    <!--16.3.3.11 Working with "application/x-www-form-urlencoded" data-->
    <filter>
        <filter-name>httpPutFormFilter</filter-name>
        <filter-class>org.springframework.web.filter.HttpPutFormContentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>httpPutFormFilter</filter-name>
        <servlet-name>receipt-mobile</servlet-name>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
    <listener>
        <listener-class>com.receiptofi.mobile.listener.ReceiptofiServletContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>receipt-mobile</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/receipt-mobile-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>receipt-mobile</servlet-name>
        <url-pattern>*.json</url-pattern>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <!--Do no include html servlet mapping here as this would result in not throwing the right error codes listed below -->

    <welcome-file-list>
        <!-- maps to LoginController index -->
        <welcome-file>isWorking.htm</welcome-file>
    </welcome-file-list>

    <!-- for all other errors -->
    <error-page>
        <location>/blank.html</location>
    </error-page>
</web-app>